<div class="container">

<h1>Andromeda Constellation</h1>

<p>In Greek mythology, Andromeda was the daughter of King Cepheus of Ethiopia and Queen Cassiopeia, who offended the Nereids (sea nymphs) by claiming that she was more beautiful than they were.</p><br>

<p>The nymphs complained to the sea god Poseidon and he sent a sea monster, Cetus, to flood and destroy Cepheus’ lands as punishment for his wife’s boastfulness. When the king sought advice from the Oracle of Ammon on how to prevent complete destruction of his lands, he was told that the only way to appease the gods and nymphs was to sacrifice his daughter to Cetus. Subsequently, Andromeda was chained to a rock and would have been left to the monser if Perseus had not come along and saved her. The two were later married and had six children, including Gorgophonte, who fathered Tyndareus, the famous Spartan king, and Perses, who was an ancestor of the Persians.</p><br>

<p>In the story, it was the goddess Athena who commemorated princess Andromeda by placing her image among the stars, next to the constellations representing her husband Perseus and her mother Cassiopeia.</p><br>

<a href="/#!/">Back</a>