<div class="container">
	<div class="header-text">
		<h2>Perseus Constellation</h2><br>
	</div>

<img src="https://bestdoubles.files.wordpress.com/2010/10/perseus.png" width="400px">

<p>Perseus constellation, named after the hero Perseus in Greek mythology, lies in the northern sky. It was first catalogued by the Greek astronomer Ptolemy in the 2nd century.<br>

The constellation is best known for its annual Perseid meteor shower, as well as for the famous variable star Algol, Beta Persei.<br>

It also contains a number of famous deep sky objects, among them Messier 34, the Double Cluster, the California Nebula (NGC 1499) and the Little Dumbbell Nebula (Messier 76).<br>

<h3>Facts and Location</h3>


Perseus Constellation Map, by IAU and Sky&Telescope magazine
Perseus is the 24th largest constellation in the sky, occupying an area of 615 square degrees.<br>
It is located in the first quadrant of the northern hemisphere (NQ1) and can be seen at latitudes between +90° and -35°.<br>

The neighboring constellations are Andromeda, Aries, Auriga, Camelopardalis, Cassiopeia, Taurus and Triangulum.<br>

Perseus contains two Messier objects – Messier 34 (M34, NGC 1039) and Messier 76 (M76, Little Dumbbell Nebula, NGC 650 & NGC 651) – and has six stars with confirmed planets.<br>

The brightest star in the constellation is Mirfak, Alpha Persei, with an apparent visual magnitude of 1.79.<br>

There are two meteor showers associated with the constellation; the Perseids and the September Perseids.<br>

Perseus belongs to the Perseus family of constellations, along with Andromeda, Auriga, Cassiopeia, Cepheus, Cetus, Lacerta, Pegasus, and Triangulum.<br>

<like-button starting-value="5"></like-button>

<a href="/#!/">Back</a>